In [3]:
import pandas as pd

from marshmallow import Schema, fields, pprint

In [59]:
df = pd.DataFrame({'num1': [1,2], 'num2': [3,4]})
df

   num1  num2
0     1     3
1     2     4

In [49]:
df = pd.Series({'num1': 1, 'num2': 3})
df

num1    1
num2    3
dtype: int64

In [51]:
df = dict(num1=1, num2=3)
df

{'num1': 1, 'num2': 3}

In [56]:
class NumSchema(Schema):
    num1 = fields.Int()
    num2 = fields.Int()

In [57]:
data = NumSchema().dump(df)

In [58]:
pprint(data, indent=2)

{'num1': 1, 'num2': 3}